<h2><%= title %></h2>

<!--Itereer door het opgehaalde news element uit routes, dit is een array met objecten-->
<ul>
<% news.forEach( (item) => { %>
    <li>
        <a href="/detail/<%= item.slug %>">
            <%= item.title %>
        </a>
    </li>
<% }); %>
</ul>